
@media only screen and (max-width: 768px){
	.mobile-header {
		display: block
	}
	header, .console-container {
		display: none !important;
	}
	.resume {
		margin: 0;
		overflow: hidden;
		
		.section {
			max-width: 100%;
			margin: 30px auto !important;
			
			.title {
				margin-left: 10px;
			}

			.picture {
				margin: 15px;
				margin-left: 20px;
			}
		
			.description {
				width: auto;
				margin-left: 140px;
				margin-right: 20px;
				.info-list {
					display: none;
				}
			}
			
			.cols .col.col-md {
				width: auto;
				margin-bottom: 100px;
			}
		}
	}
	footer{
		position: static !important;
		display: flex;
		justify-content: space-evenly;
		margin: 0 0 20px 0 !important;
		a {
			display: block !important;
		}
	}
}

