@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// border: black 2px solid;
}

body {
	font-family: 'Ubuntu Condensed', sans-serif;
	line-height: 1.6;
	text-align: center;
	// background-color: rgb(19, 19, 19);
}

header {
	height: 200px;
	width: 100%;
	padding: 10px;
	display: flex;
}

/* GAWEMA TITLE ANIMATION ----------------------------------- */


.gawema {
	height: 100%;
	width: calc(100% - 400px);
	padding-left: 15px;

	div {
		float: left;
		position: relative;
		font-size: 50px;
		color: #333;
		text-transform: uppercase;
	}

	div::after {
		position: fixed;
		opacity: 0;
		animation-name: show;
		animation-delay: 2.3s;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		animation-timing-function: ease;
	}
}

#g::after{
	content: 'briele';
}

#w::after{
	content: 'sth';
}

#m::after{
	content: 'nnucci';
}


@keyframes show {
	0% { opacity: 0;}
	100% { opacity: 1;}
}

#w {
	animation-name: drop-w, slide-w;
}

#m {
	animation-name: drop-m, slide-m;
}

#w, #m {
	animation-duration: 1.5s, 1.4s;
	animation-delay: 1s, 3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease, ease;
}


@keyframes drop-w {
	0% { transform: translateY(0px);}
	100% { transform: translateY(50px); }
}

@keyframes drop-m {
	0% { transform: translateY(0px);}
	100% { transform: translateY(100px); }
}

@keyframes slide-w {
	0% { transform: translateY(50px); }
	100% {  transform: translateY(50px) translateX(-50px);}
}

@keyframes slide-m {
	0% { transform: translateY(100px); }
	100% {  transform: translateY(100px) translateX(-110px);}
}


/* HAMBURGER MENU ----------------------------------- */

.menu {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	width: 400px;
	height: 100px;
	margin-left: 10px;
	position: relative;
}

.hamburger {
	position: absolute;
	width: 100%;
	height: 100px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;

	span {
		width: 20%;
		height: 7px;
		background-color: #333;
		display: block;
		animation-duration: 0.5s;
		transition: 0.3s;
	}
	
	span:nth-child(1){
		width: 7%;
		transition: 0.5s;
	}
	span:nth-child(3){
		width: 12%;
		transition: 0.6s;
	}

}
.links {
	z-index: 1;
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-top: 10px;
	font-size: 20px;
	opacity: 0;
	transform: translateX(400px);
	transition: 1s;
}

.link {
	color: #333 ;
	text-decoration: none;
	
	&:hover{
		background-color: yellow;
	}
}

.hamburger:hover span:nth-child(1){
	width: 20%;
}
.hamburger:hover span:nth-child(3){
	width: 20%;
}


.activeLinks {
	transform: translateX(0);
	opacity: 1;
}

.active {
	&:hover{
		span:nth-child(1){
			width: 5%;
			height: 2px;
			transform: translateY(36px) rotate(45deg)
		}

		span:nth-child(3){
			width: 5%;
			height: 2px;
			transform: translateY(5px) rotate(-45deg)
		}
	}
	span:nth-child(1){
		width: 5%;
		height: 2px;
		transform: translateY(36px) rotate(45deg)
	}

	span:nth-child(2){
		width: 100%;
		height: 2px;
	}

	span:nth-child(3){
		width: 5%;
		height: 2px;
		transform: translateY(5px) rotate(-45deg)
	}
}


/* MAIN ----------------------------------- */

.main {
	display: flex;
	justify-content: flex-end;;
	height: 400px;
}

.console {
	// border: red 2px solid;
	width: 650px;
	height: 400px;
	margin: auto 20vw;	
	background-color: #333;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 39px -14px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 39px -14px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 39px -14px rgba(0,0,0,0.68);

	.console-header {
		width: 100%;
		height: 10%;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.dot {
			height: 15px;
			width: 15px;
			background-color: #bbb;
			border-radius: 50%;
			margin-left: 10px;
		  }

		.red { background-color: rgb(255,69,58); }
		.yellow { background-color: rgb(255,214,10);}
		.green { background-color: rgb(50,215,75);}
	}

	.console-body {
		width: auto;
		height: 90%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		
		.terminal-output {
			overflow-y: hidden;
			overflow: auto;
		}
		
		.terminal-line {
			position: relative;
			font-family: 'Anonymous Pro', monospace;
			font-size: 14px;
			color: whitesmoke;
			text-align: left;
		}

		// .console-input {
		// 	background-color: #333;
		// 	border: none;
		// 	outline: none;
		// 	height: 40px;
		// 	width: 100%;
		// 	font-style: 'Menlo, "DejaVu Sans Mono", Consolas, "Lucida Console", monospace';
		// 	color: white;
		// 	font-size: 15px;
		// 	letter-spacing: 1px;
		// 	padding-left: 15px;
		// }

		.console-input {
			opacity:0;
			filter:alpha(opacity=0);
		}

	}



}

::-webkit-scrollbar {
    display: none;
}
